@import '../../styles/shared-styles';

.data-card{
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(144, 144, 144, 0.2);
  padding: to-rem(30px);
  width: 500px;
  
  @include phone{
    border: 1px solid rgba(144, 144, 144, 0.2);
    border-radius: 0;
    padding: to-rem(20px);
    width: 350px;
  }
  
  &__title{
    border-radius: 6px 6px 0 0;
    color: $dark-text;
    font-size: 20px;
    padding-bottom: 10px;
    //padding: 0 0 to-rem(24px);
    //display: inline;

    &-container-bordered {
      border-bottom: 1px solid $border;
      //padding: 0 0 to-rem(15px);
      margin-bottom: 10px;
    }

    &-buttons-container {
      display: inline;
    }

    &-buttons-container > button {
      margin-left: 5px;
    }

    &-bordered{
      border-bottom: 1px solid $border;
      padding: 0 0 to-rem(15px);
    }
  }
  
  &.no-padding{
    padding: 0;
  }
  .table-title{
    margin: 0;
    padding: to-rem(30px);
  }
}
